<% content_for :title, 'Dashboard' %>

<% for entry in @time_entries %>
  <%= render :partial => 'time_entry', :locals => { :current_user => @current_user, :entry => entry } %>
<% end %>

<div>
<% if @time_entries.empty? %>
  <%= render :partial => 'start_form', :locals => { :current_user => @current_user, :tracking => @tracking } %>
<% end %>
</div>
