<% flash.each do |name, message| %>
  <div class="alert alert-<%= (name == :notice) ? 'block' : name.to_s %>">
    <%= content_tag :div, message, :id => "flash_#{name}" if message.is_a?(String) %>
  </div>
<% end %>
