<h1>Edit project</h1>

<%= render :partial => 'partials/form_errors', :locals => { :model => @project } %>

<%= form_for :project, :url => user_project_path(@current_user, @project),
  :html => { :method => 'put' } do |form| %>

  <%= render :partial => 'form', :locals => { :form => form } %>

  <%= submit_tag "Submit", :class => 'btn' %>

<% end %>

