<h1>Projects</h1>

<table class="table">
  <tbody>
    <% for project in @projects %>
    <tr>
      <td><%= h project.name %></td>
      <td><%= link_to 'Edit', edit_user_project_path(@current_user, project) %></td>
      <td>
        <%= link_to 'Delete', user_project_path(@current_user, project),
          :confirm => 'Are you sure?',
          :method => :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'Add new project', new_user_project_path(@current_user) %>
</div>
