<% content_for :title, 'Project %s' % [@project.name] %>

<div>
  <p>Description:</p>
  <p><%= @project.description %></p>
</div>

<%= link_to 'Back to project list', user_projects_path(@current_user) %>

