
.monthly_report td
{
  min-width: 32px;
}

.monthly_report td,
.monthly_report th
{
  border: 1px solid #000000;
}

.monthly_report td
{
  width: 30px;
  height: 30px;
  text-align: center;
}

td.invisible,
th.invisible
{
  border: 0px none;
}

td.project_name
{
  text-align: left;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

th.weekend,
th.holiday
{
  color: #ff1234;
  background-color: #EEEEEE;
}

td.weekend,
td.holiday,
td.empty
{
  background-color: #EEEEEE;
}

tr.total_time td
{
  color: #000000;
  font-weight: bold;
}

td.time_insufficient
{
  background-color: #FF6C67;
}

td.time_warning
{
  background-color: #FFDF97;
}

td.time_ok
{
  background-color: #A0DBF2;
}

td.time_success
{
  background-color: #2BF386;
}

