
.monthly_report td,
.monthly_report th
{
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
}

.monthly_report td
{
  text-align: center;
}

td.invisible,
th.invisible
{
  border: 0px none;
}

td.project_name
{
  text-align: left;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

th.weekend,
th.holiday
{
  color: #ff1234;
  background-color: #F9F9F9;
}

td.weekend,
td.holiday,
td.empty
{
  background-color: #F9F9F9;
}

tr.total_time td
{
  /*color: #000000;*/
  font-weight: bold;
}

td.time_insufficient
{
  color: #B94A48;
  background-color: #F2DEDE;
}

td.time_warning
{
  color: #C09853;
  background-color: #FCF8E3;
}

td.time_ok
{
  color: #3A87AD;
  background-color: #D9EDF7;
}

td.time_success
{
  color: #468847;
  background-color: #DFF0D8;
}

div.month_additional_info
{
  margin-top: 25px;
}

