
table.monthly_report td,
table.monthly_report th
{
  border: 1px solid #000000;
}

table.monthly_report td
{
  width: 30px;
  text-align: center;
}

th.weekend
{
  color: #ff1234;
  background-color: #EEEEEE;
}

td.weekend
{
  background-color: #EEEEEE;
}
