.time_entry
{
  margin-left: 0px;
  max-width: 640px;
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.time_entry div.counter_container
{
  background-color: #ffffff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.time_entry input.btn
{
  margin-top: 10px;
}

.entry_time_counter
{
  margin: auto;
  padding: 30px 10px 30px 10px;
  text-align: center;
  font-family: monospace;
  font-size: 72px;
}

form.edit_time_entry
{
  margin: 0px;
}


